body {
  background-color: #1a1a1a;
}

.download {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #4cc713;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
}

.download:hover {
  background-color: #333;
  color: white;
}
.download:hover:before,
.download:hover:after {
  border-color: #4cc713;
}
.download:hover:after {
  animation-play-state: running;
}

.download:before,
.download:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.download:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.download:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  margin-top: 3px;
  margin-left: -7px;
  animation: arrow 2s linear infinite;
  animation-play-state: paused;
}

@keyframes arrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}
